# Ten plik służy jako przykład konfiguracji zmiennych środowiskowych.
# Skopiuj ten plik do nowego pliku o nazwie .env.local i uzupełnij wartości.
# Plik .env.local jest ignorowany przez Git i nie powinien być dodawany do repozytorium.

# Pełny adres URL Twojej strony, używany m.in. do generowania sitemap.xml.
NEXT_PUBLIC_SITE_URL=http://localhost:3000
